.page-header
  %h2
    %span#room-id= @room.id
    = ": #{@room.name}"
.container.text-center
  .col-xs-6
    .panel.panel-default
      .panel-heading
        %h2.panel-title.sf TEAM A
      .panel-body
        %h1#team-a-score.sf= @team_a_show_score
  .col-xs-6
    .panel.panel-default
      .panel-heading
        %h2.panel-title.sf TEAM B
      .panel-body
        %h1#team-b-score.sf= @team_b_show_score
= link "Edit", to: room_path(@conn, :edit, @room)
= link "Back", to: room_path(@conn, :index)

:javascript
  $(document).ready(function() {
    require("web/static/js/room/show").RoomShow.run()
  });
